@import "tailwindcss/preflight"; 
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@layer base {
  :root {
    /* Light Theme (Tokyo Night Light) */
    --background: 220 10% 86%;
    --foreground: 227 12% 38%;
    --primary: 217 45% 37%;
    --card: 240 8% 92%;
    --card-foreground: 227 12% 38%;
  }

  .dark {
    /* Dark Theme (Tokyo Night) */
    --background: 231 15% 18%;
    --foreground: 224 28% 79%;
    --primary: 224 88% 75%;
    --card: 230 23% 19%;
    --card-foreground: 224 28% 79%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
